{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>


{% endblock %}

{% block body %}
<div class="container-fluid">
    <h2>Solicitudes EOBM 2016</h2>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="registro_table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Mail</th>
                    <th>Beca</th>
                    <th>Rec</th>
                    <th>Aceptado</th>
                </tr>
                </thead>
                <tbody>
                {% for registro in registros %}
                    <tr>
                        <td><a href="{{ path('registro_show', { 'slug': registro.slug }) }}">{{ registro.paterno }} {{ registro.materno }} {{ registro.nombre }}</a></td>
                        <td>{{ registro.mail }}</td>
                        <td>{{ registro.beca }}</td>
                        <td class="text-center">{{ registro.recomendacion ? '<i class="fa fa-check-square-o icon-success"></i>' : '<i class="fa fa-times-circle icon-danger"></i>' }}</td>
                        <td class="text-center">{{ registro.aceptado ? '<i class="fa fa-check-square-o icon-success"></i>' : '<i class="fa fa-times-circle icon-danger"></i>' }}</td>
{#                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('registro_show', { 'slug': registro.slug }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('registro_edit', { 'id': registro.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{#

    <ul>
        <li>
            <a href="{{ path('registro_new') }}">Create a new entry</a>
        </li>
    </ul>
#}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#registro_table').DataTable();
        } );
    </script>
{% endblock %}